.App {
  margin: 30px 0px;
}
.App h1 {
  font-family: "Grenze Gotisch", cursive;
  font-size: 80px;
}
.App .container {
  max-width: 95%;
  margin: 0 auto;
}
.App .header {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 960px) {
  .App h1 {
    font-size: 50px;
  }
  .App .header {
    font-size: 23px;
  }
}
