body {
  background-image: url(./images/newspaper-background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  font-family: "Abril Fatface", cursive;
  font-family: "Coustard", serif;
  font-family: "Fjalla One", sans-serif;
  font-family: "Grenze Gotisch", cursive;
  font-family: "Lobster", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Rozha One", serif;
  font-family: "Stylish", sans-serif;
}
