.Meanings {
  font-family: "Poppins", sans-serif;
}
.Meanings strong {
  font-family: "Oswald", sans-serif;
}

.Meanings .part-of-speech {
  font-family: "Playfair Display", serif;
  opacity: 0.6;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.Meanings .definition-section {
  font-size: 18px;
  margin-bottom: 50px;
}

.Meanings .example-section {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  opacity: 0.8;
}

.Meanings .example-header span {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  opacity: 1;
  color: black;
  text-decoration: underline;
  font-style: italic;
}

.Meanings .definition,
.example {
  display: block;
  padding-left: 10px;
}
.Meanings .definition::first-letter,
.example::first-letter {
  text-transform: uppercase;
}
