.Phonetic a {
  background-color: #c3c0bc;
  border: 1px solid #c3c0bc;
  border-radius: 20px;
  color: black;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  color: white;
  background-color: black;
  text-decoration: underline;
}

.Phonetic .phonetic-text {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}
