.Photos h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 45px;
  margin: 10px 0px 30px 0px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}

@media (max-width: 765px) {
  .Photos h2 {
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
