.Results h2 {
  font-family: "Roboto Slab", serif;
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}
.Results h3 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
}

.Results .phonetics-section h3 {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.Results .phonetics-section h5 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.Results h4 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  text-align: center;
}

.Results .phonetics-section {
  border-right: 2px solid #c7392a;
  height: 170px;
}

.Results .synonym-header-l2 {
  margin-left: 20px;
}

.Results .synonym-header-l3 {
  margin-left: 40px;
}
